<div class="grid" style="margin-top: 50px;">
  <div class="row">
    <div class="col col-2 ">
      <app-sidenav></app-sidenav>
    </div>
    <div class="col col-10 card" >
      <div class="grid">
        <div class="row">
          <div class="col col-12">
            <button class="btn btn-dark p-1 mb-2 mt-2 float-right" (click)="addBus()">AddBus</button>
          </div>
        </div>
        <div class="row">
          <div class="col col">
            <table class="table table-sm">
              <thead class="bg-light">
                <tr>
                  <th>BusName</th>
                  <th>Departure</th>
                  <th>Arrival</th>
                  <th>totalSeats</th>
                  <th>SeatsBooked</th>
                  <th>seatType</th>
                  <th>BusType</th>
                  <th>DepartureTime</th>
                  <th>ArrivalTime</th>
                  <th>TicketPrice</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let bus of busDetails">
                  <td>
                    <div class="d-flex align-items-center">
                      
                      <div class="ms-3">
                        <p class="fw-bold mb-1">{{bus.busName}}</p>
                        <!-- <p class="text-muted mb-0">john.doe@gmail.com</p> -->
                      </div>
                    </div>
                  </td>
                  
                  <td>
                      <p class="fw-normal mb-1" >{{bus.boardingPoint}}</p>
                      <!-- <p class="text-muted mb-0">IT department</p> -->
                    </td>
                  <td>
                      <p class="fw-normal mb-1" >{{bus.destinationPoint}}</p>
                  </td>
                  <td>
                      <p class="fw-normal mb-1" >{{bus.totalSeats}}</p>
                  </td>
                  <td>
                      <p class="fw-normal mb-1" >{{bus.seatsBooked}}</p>
                  </td>
                  <td>
                      <p class="fw-normal mb-1" >{{bus.busSeats[0].seatType }}</p>
                  </td>
                  <td>
                      <p class="fw-normal mb-1" >{{bus.busType  |uppercase}}</p>
                  </td>
                  <td>
                      <p class="fw-normal mb-1" >{{bus.departureTime}}</p>
                  </td>
                  <td>
                      <p class="fw-normal mb-1" >{{bus.arrivalTime}}</p>
                  </td>
                  <td>
                      <p class="fw-normal mb-1">Rs {{bus.price}} /-</p>
                  </td>
                  <td>
                      <button 
                      style="margin-right: 1%;" 
                      type="button" 
                      class="btn btn-primary btn-sm btn-rounded p-1"
                      (click)="showBusEditDetailsForm(bus.id)"
                      >
                       Edit 
                     </button>
                     <button
                      type="button"
                       class="btn btn-danger btn-sm btn-rounded p-1"
                     
                       >
                       Delete
                     </button>
                  </td>
      
                  
                </tr>
              </tbody>
            </table>
            <admin-bus-details-add></admin-bus-details-add>
            <admin-bus-details-edit></admin-bus-details-edit>
          </div>
        </div>

      </div>
           
    </div>
  </div>
 

  
</div>