img{
    height:400px;
    object-fit:fill;
    
}
::-webkit-scrollbar {
    display: none;
}

/* *{
    margin: 0px;
    padding: 0px;
} */
/* .busDetailsRoot{
    z-index: -1;
} */

/* *{
    margin:0px;
    padding: 0px;
} */
.flitersStyle{
    margin-top: 16px;
    max-width: 80%;
  
    overflow: scroll;
}


.spinner{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.details{
    border: 2px solid #ccc;
    box-shadow: 0px 0px 10px #ccc;
    margin-top: 16px;
    width: 100%;

    /* content-visibility: auto */
    
}

.heading{
    display: flex;
    justify-content: center;
   
}
header{
  height: 400px;
  box-sizing: border-box;


}

.station::before{
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    background-color: #69b6d5;
    animation: glow 1s infinite alternate;
 
}
@keyframes glow {
    from {
        box-shadow: 0 0 10px -10px mediumaquamarine;
      }
      to {
        box-shadow: 0 0 10px 3px mediumaquamarine;
      }
    
}

.stationLayout{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  
  
}
main{
    height: 80px;
}
@media screen and (max-width:800px) {
    .container{
        margin-left: 12%;
    }
    .flitersStyle{
      
        margin-left: 10%;
     
    }
}