<div class="backdrop" (click)="toggleAddBusFormView()" *ngIf="showAddRouteForm"></div>
<div id="loginform" *ngIf="showAddRouteForm"  >
           
    <form [formGroup]="addRouteForm"  class="container"  >
        <div class="grid">
            <div class="row">
                <div class="col col-12">
                    <div class="form-group" >
                        <label for="exampleFormControlInput1">BoardingPoint</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" formControlName="BoardingPoint" placeholder="BoardingPoint   " >
                      </div>
                </div>
                <div class="col col-12">
                    <div class="form-group" >
                        <label for="exampleFormControlInput1">DestinationPoint</label>
                        <input class="form-control" formControlName="DestinationPoint" placeholder="DestinationPoint" id="exampleFormControlSelect1"/>
                          
                      </div>
                </div>
                <div class="col col-12">
                   
                    <div class="form-group" >
                        <label for="exampleFormControlInput1">Stations</label>
                        <input class="form-control" formControlName="Station" placeholder="Station" id="exampleFormControlSelect1">
                        <button style="visibility: hidden" class="btn btn-sm btn-outline-secondary  float-right mt-2 mb-2"
                        (click)="addStation()">AddStation</button>
                      </div>
                      <span *ngFor="let station of stations" class="badge badge-pill badge-primary" style="margin-right:2px">{{station}}</span>
                </div>
                <div class="col col-12">
                    <button *ngIf="!loading" class="btn btn-dark mb-4 float-right" (click)="addRoute()">AddRoute</button>
                    <button *ngIf="loading" class="btn btn-dark mb-4 float-right" (click)="addRoute()">Adding Please Wait..</button>
                </div>
                

            </div>
            
           </div>
          
        </form>
    
  
</div>

