<div class="backdrop" *ngIf="showLoginForm"></div>
<div id="loginform" *ngIf="showLoginForm"   >
           
    <form  [formGroup]='loginForm' class="container"  >
     
      <div id="close" class="container-close" (click)="loginFormToggleHandler()">&times;</div>
      
      <img
        src="../../../assets/MyBUS.png"
        alt="image">
      <div class="container-text" >
        <h2>Welcome to <em>MyBus</em>.com <br></h2>
        <p>Sign in to book tickets,  and  get 15% Offer on all of your  bookings.</p>
             <input class="form-control" type="email" [ngStyle]="loginForm.get('userName').errors?.pattern  && {'box-shadow': '0px 0px 5px red'}" name="email" formControlName='userName' placeholder="Email address" ngModel email>
             <code style="color:red" *ngIf="loginForm.get('userName').errors?.pattern">
              Email is Invalid
             </code>
             <input class="form-control" type="password" name="password" [ngStyle]="loginForm.get('password').errors?.pattern  && {'box-shadow': '0px 0px 5px red'}" formControlName='password' placeholder="Password">
             <code style="color:red" *ngIf="loginForm.get('password').errors?.pattern">
              Password is weak !
             </code>
        <button (click)="login()" class="btn btn-dark" >Log In</button>
        <div class="footer">
        <h3>Don't have an account ?   <span><button  class="btn btn-dark" (click)="loginFormToggleHandler();signUpFormToggleHandler()">Sign Up</button></span></h3>
     
      </div>
      
     <br>
    
  
</div>