#loginform {
    /* display: none; */
    place-items: center;
    padding-top: 10%;
     z-index: 6; 
     position: absolute;
     /* height: 50vh; */
     /* left:250px */
     /* display: flex;
     align-items: center;
     justify-content: center; */
     /* top:-8%;
     left:25%; */
     left: 50%;
     top: 45%;
     transform: translate(-50%,-50%);
    
    }
    #SignUpform {
      display: none;
      place-items: center;
      padding-top: 10%;
       z-index: 3; 
       position: absolute;
       top:-8%;
       left:25%;
      
      }
.backdrop {
        /* backdrop-filter: blur(5px); */
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 5 !important;
        background: black;
        opacity: 0.5;
        width: 100vw;
    }
  .container {
    background-color: #fff;
    width: 750px;
    height: 550px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    place-items: center;
    line-height: 1.5;
    animation: formmovedown 1s 1;
    animation-timing-function:  linear;
    /* z-index: 0; */
    /* transform: translateY(10%); */
  }
  .container input{
    background-color:whitesmoke
  }
  .container input:focus{
    box-shadow: 0 0 10px black;
  }
  .containernew {
    background-color: #F5F5F5;
    /* background: linear-gradient(145deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.3) 100%); */
    width: 600px;
    height: 400px;
    border-radius: 25px;
    position: absolute;
    display: grid;
    margin-top: 140px;
    align-items: center;
    padding: 24px;
    left: 5%;
    top:15%;
    justify-content: center;
    grid-template-columns: 1fr ;
    place-items: center;
    line-height: 1.5;
   /* border: 2px solid lightblue;
   box-shadow: 0 0 2px black; */
    /* animation: formmovedown 1s 1;
    animation-timing-function:  linear;
    z-index: 2; */
    /* transform: translateY(10%); */
  }
  .containernew .header{
    color:#3F3C3D;
    /* color:black ; */
    font-weight: bold;
    /* color: lightblue; */
    width:100%;
    text-align: center;
    font-size: 48px;
  
  }
  .containernew input{
    padding: 8px;
    width: 80%;
    
    background-color: #DCDCDC;
    outline: none;
    border: 0px solid;
    height: 40px;
   
  }
  input:focus{
    background-color: whitesmoke;
  }
  .footer{
      display: flex;
      justify-content: space-around;
      margin-top: 30px;

  }
  .footer button{
    width: 10px;
  }
  
  .signup{
    width: 1px;
  }
  /* .containernew input::-webkit-input-placeholder::before{
    width: 18px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
  } */
  .containernew button{
    width:80%;
    height: 40px;
    background-color: black;
    color: white;
    border: 1px solid lightblue;
    cursor: pointer;
    transition: all 1s;
  }
  
  .containernew button:hover{
    transform: scale(0.9);
  }
  .containernew button:active{
    transform: scale(0.85);
  }
  .icons-wrapper{
    height: 5px;
    display: flex;
    flex-shrink: 1;
    justify-content: space-around;
  }
  .icon{
    display: inline-block;
    font-size: 25px;
    margin-top: 200px;
    /* padding: 20px; */
    z-index: 1;
    margin-top: 25px;
    cursor: pointer;
    animation: float 5s ease-in-out infinite;
  }
  .fa-instagram {
    animation-delay: 2s;
  }
  .google{
    animation-delay: 1s;
/*    
    animation: float 5s ease-in-out infinite; */
  }
  @keyframes float {
    0%{
      transform: translateY(0);
    }
    50%{
      transform: translateY(-15px);
    }
    100%{
      transform: translateY(0);
    }
  }
  button{
    width: 100% !important;
  }
  .container-close {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: #fff;
    width: 45px;
    height: 45px;
    display: grid;
    place-items: center;
    font-size: 1.7rem;
    color: #2E4052;
    border-radius: 50%;
   
    cursor: pointer;
  }
  
  .container img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    align-content: center;
  }
  
  .container-text {
    padding: 10px 40px 10px 10px;
  }
  
  .container-text h2 {
    font-size: 1.2rem;
    color: #1A2250;
  }
  
  .container-text p {
    font-size: 14px;
    color: #3B4169;
    margin: 10px 0;
  }
  
  .container-text input{
    width: 100%;
    border: none;
    padding: 14px;
    border-radius: 3px;
  }
  
  .container-text input {
    border: 2px solid #DADDEC;
    margin: 5px 0 10px;
    font-size: 1rem;
    color: #656880;
    outline:none;
  }

  
  @media  screen and (max-width:750px){
    .container{
      width: 90vw;
      height: auto;
      margin: 50%;
      grid-template-columns: 1fr ;
      margin-left: -1%;
      padding: 24px;
      /* left: 50%;
      top: 45%;
      transform: translate(-50%,-50%); */
     
     
    }
    .container img{
      display: none
    }
    .containernew{
      width: 90vw;  
      height: 50vh
    }
   .icons-wrapper{
     display: none;
   } 
  }
  
  
  @keyframes formmovedown{
    0% {
      top: -70px;
    }
    50%{
      top:-20px;
    }
  
     100% {
      top: 5px;
    }
  }
  @keyframes formmoveup{
    0% {
      top: -10px;
    }
    50%{
      top:-50px;
    }
  
     100% {
      top: -70px;
    }
  }