<div class="backdrop" (click)="toggleFormView()" *ngIf="showBusEditForm"></div>
<div id="loginform" *ngIf=" showBusEditForm"  >
           
    <form  [formGroup]="editForm" class="container"  >
        <div class="grid">
            <div class="row">
                <div class="col col-6">
                    <div class="form-group" >
                        <label for="exampleFormControlInput1">BusOperatorName</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" formControlName="BusOperatorName" placeholder="BusOperatorName" [value]="busDetails?.busName">
                      </div>
                </div>
                <div class="col col-6">
                    <div class="form-group" >
                        <label for="exampleFormControlInput1">BusType</label>
                        <select class="form-control" formControlName="busType" id="exampleFormControlSelect1">
                            <option>AC</option>
                            <option selected="selected">NON-AC</option>
                          </select>
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-6">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">BoardingPoint</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="BoardingPoint" placeholder="BoardingPoint" [value]="busDetails?.boardingPoint">
                      </div>
                </div>
                <div class="col col-6">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">DestinationPoint</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="DestinationPoint" placeholder="UserName" [value]="busDetails?.destinationPoint">
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-6">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">SeatType</label>
                        <select class="form-control" formControlName="seatType" id="exampleFormControlSelect1">
                          <option>Seater</option>
                          <option selected="selected">Sleeper</option>
                          <option>Semi-Sleeper</option>
                        </select>
                      </div>
                </div>
                <div class="col col-6">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">TotalSeats</label>
                        <input type="number" class="form-control" id="exampleFormControlInput1" formControlName="totalSeats" placeholder="UserName" [value]="busDetails?.totalSeats" min="0" max="1/0">
                      </div>
                </div>
            </div>
           
            <div class="row">
                <div class="col col-6">
                    <div class="form-group">
                        <label for="exampleFormControlInput1"> DepartureTime</label>
                        <input type="time" class="form-control" id="exampleFormControlInput1" formControlName="DepartureTime" placeholder="UserName" [value]="busDetails?.departureTime">
                      </div>
                </div>
                <div class="col col-6">         
                    <div class="form-group">
                        <label for="exampleFormControlInput1"> ArrivalTime</label>
                        <input type="time" class="form-control" id="exampleFormControlInput1" formControlName="ArrivalTime" placeholder="UserName" [value]="busDetails?.arrivalTime">
                    </div>   
                </div>
            </div>
            <div class="row">
                <div class="col col-6">
                    <div class="form-group">
                        <label for="exampleFormControlInput1"> DepartureDate</label>
                        <input type="date" class="form-control" id="exampleFormControlInput1" formControlName="DepartureDate" placeholder="UserName" [value]="busDetails?.departureDate">
                      </div>
                </div>
                <div class="col col-6">         
                    <div class="form-group">
                        <label for="exampleFormControlInput1"> ArrivalDate</label>
                        <input type="date" class="form-control" id="exampleFormControlInput1" formControlName="ArrivalDate" placeholder="UserName" [value]="busDetails?.departureDate">
                    </div>   
                </div>
            </div>
            <div class="row">
                <div class="col col-6">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">AddSeats</label>
                        <input class="form-control" type="number"   formControlName="AddSeats" id="quantity" name="quantity" min="0" max="1/0">
                    </div>
                </div>
                <div class="col col-6">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">TicketPrice</label>
                        <input class="form-control" type="number"   formControlName="price" id="quantity" name="quantity" >
                    </div>
                </div>

            </div>
            
              <div class="form-group ">
                  <button type="button"  class="btn btn-sm btn-outline-danger mt-4 float-right " (click)="toggleFormView()" >Cancel </button>
                  <button type="button" *ngIf="!loading" class="btn btn-sm btn-outline-dark mt-4 float-right" style="margin-right: 4px;" (click)="updateForm(busDetails?.id)" >Update </button>
                  <button type="button" *ngIf="loading" class="btn btn-sm btn-outline-dark mt-4 float-right" style="margin-right: 4px;"  >Updating Please Wait .. </button>
              </div>
              <br>
           
        </div>
          
          </form>
    
  
</div>