.card{
    /* padding: 20px; */
    /* width:10vw; */
    /* overflow: scroll; */
/* /overflow-x: hidden; */
box-sizing: border-box;

width: 90vw;
}

*{
    padding: 0px;
    margin:0px;
    
    }
    .container-fluid{
        margin-top: 50px;
    }
    .sidebar{
        background-color:#00001e ;
        color: white;
        height: 100vh;
    }
    .sidebar div{
        padding: 20px;
        cursor: pointer;
    }
    .link{
        text-decoration: none;
        color: white;
    }
.sidebars{
    z-index: 5;
    position: absolute;
}

@media screen and (min-width:900px) {
    .toggler{
        display: none;
    }
}