
<div class="container-fluid">
    <div class="grid " >
        <div class="row ">
            
            <div class="col col-2 ">
                <div class="grid sidebar">
                    <div class="col col-12"  style="display: flex; justify-content:space-evenly" >
                            <p>BusManagement</p>
                          <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        
                    </div>
                    <div class="col col-12" style="display: flex; justify-content:space-around">
                        <p>RouteDetails</p>
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    </div>
                    <div class="col col-12" style="display: flex; justify-content:space-around">
                        <p>UserDetails</p>
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    </div>
                    <div class="col col-12" style="display: flex; justify-content:space-around">
                        <p>Admin Works</p>
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col col-10">
                <app-bus-management></app-bus-management>
                <admin-bus-details-edit></admin-bus-details-edit>
                <admin-bus-details-add></admin-bus-details-add>
                <!-- <admin-user-details-view ></admin-user-details-view>
             <admin-user-details-edit></admin-user-details-edit> -->
            </div>
        </div>
    </div>
  
</div>
