
<!-- <div class="container-fluid">
    <div class="grid " >
        <div class="row ">
            <div class="col col-2">
            <app-sidenav></app-sidenav>
        </div>
        <div class="col col-10"> -->
                <!-- <app-bus-management></app-bus-management> -->
                <!-- <app-bus-route-details></app-bus-route-details> -->
                <!-- <admin-bus-details-edit></admin-bus-details-edit> -->
              
                <router-outlet ></router-outlet>

              <!-- <admin-user-details-view ></admin-user-details-view>
             <admin-user-details-edit></admin-user-details-edit>     -->
            <!-- </div>
        </div>
    </div> -->
  

