<div class="background"></div>
<div class="backdrop" *ngIf="showresetPasswordForm"></div>
<div id="loginform" *ngIf="showresetPasswordForm">
  <!-- <form  class=" container was-validated">
    <img
        src="../../../assets/MyBUS.png"
        alt="image">
        <div class="container-text" >
    <div class="mb-3 mt-3">
      <label for="uname" class="form-label">Username:</label>
      <input type="text" class="form-control" id="uname" placeholder="Enter username" name="uname" required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="mb-3">
      <label for="pwd" class="form-label">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
 
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form> -->
<div *ngIf="!hasToken">
  <form [formGroup]='resetPasswordForm' class="container" novalidate>

    <div id="close" class="container-close" (click)="resetPasswordFormToggleHandler()">&times;</div>

    <img src="../../../assets/MyBUS.png" alt="image"/>
    <div class="container-text" id="needs-validation">
      <h2>Welcome to <em>MyBus</em>.com <br></h2>
      <p>Please enter the registered mail-id to recieve password-reset-link.</p>
      <div class="form-group">
        <code *ngIf="(resetPasswordFormControl.email.touched || submitted) && resetPasswordFormControl.email.errors?.required">
          Email is required</code>
        <input type="text" class="form-control" id="uname" formControlName='email' placeholder="Enter Email"
          name="uname" required/>
     
      <button (click)="login()" class="btn btn-dark mt-2" type="submit">ResetPassword</button>
   </div>
   </div>
  </form>
</div>
  <div *ngIf="hasToken">
  <form [formGroup]='changePasswordForm' class="container" novalidate>

    <div id="close" class="container-close" (click)="resetPasswordFormToggleHandler()">&times;</div>

    <img src="../../../assets/MyBUS.png" alt="image"/>
    <div class="container-text" id="needs-validation">
      <h2>Welcome to <em>MyBus</em>.com <br></h2>
      <p>We suggest you to enter the password which contain atleast one number,specialCharacters,
          uppercase and lowercase Characters
      </p>
      <div class="form-group">
        <code *ngIf="(changePasswordFormControl.password.touched || submitted) && changePasswordFormControl.password.errors?.required">
          Password is required</code>
        <input type="password" class="form-control" id="uname" formControlName='password' placeholder="Enter New Password"
          name="uname" required/>
     
      <button (click)="login()" class="btn btn-dark mt-2" type="submit">ChangePassword</button>
   </div>
   </div>
  </form>
</div>

</div>
