<header>
    <nav  id ="nav" class="navbar">
      <a href="#" class="logo">Logo</a>
      <img style="width:20px;height:20px" src="../../../assets/bars.png" onclick="hamburgerTogglehandler()"/>
      <div class="menu" id="m">
        <ul class="list">
          <li class="links"><a href="/busDetails">Bookings</a></li>
          <li class="links"><a href="">Offers</a></li>
          <li class="links"><a href="">Help</a></li>
          <button class="button" (click)="loginFormToggleHandler()">Login</button> 
        </ul>
      </div>
      
    </nav>
  </header>