<header>
    <nav  id ="nav" class="navbar">
      <a routerLink='/home' class="logo"><em>MyBus</em></a>
      <img style="width:20px;height:20px" src="../../../assets/bars.png" (click)="hamburgerTogglehandler()"/>
      <div class="menu" id="m" [ngStyle]="displayToggle?{'display':'block'}:{'display':'none'}">
        <ul class="list">
          <li class="links" *ngIf="isAdmin"><a routerLink="/admin-dashboard/busdetails">AdminDashboard</a></li>
          <li class="links"><a routerLink="/bookingsDetails">Bookings</a></li>
         
          <button *ngIf="!isLoggenIn" class="button" (click)="loginFormToggleHandler()">Login</button> 
          <button *ngIf="isLoggenIn"  class="button" (click)="logoutFormToggleHandler()">Logout</button> 
        </ul>
      </div>
      
    </nav>
  </header>