#loginform {
    place-items: center;
    z-index: 6; 
    position:absolute;
    left: 50%;
    top: 50%;
    height: auto;
    /* margin-top: -50px; */
    /* margin-top: 170px; */
   
    transform: translate(-50%,-50%);
    padding: 20px;  
    width: 50vw;
    padding: 20px;
    /* overflow: scroll; */
    /* height: 100px; */
    /* max-width: 500px;
    max-height: 400px; */
}
.form-group{
    padding: 10px;
    height: 70px;
}
.backdrop {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5 !important;
    background: black;
    opacity: 0.5;
    width: 100vw;
}
input{
    /* height: 40px; */
}
.container {
    border-radius: 20px;
    background-color: #fff;
    position: relative;
    animation: formmovedown1 1s 1;
    /* height: 100px; */
    animation-timing-function:  linear;
}
  
 
 
  
  @media  screen and (max-width:750px){
    #loginform {
        width: 90vw;
        /* margin-top: -50px; */
        position: absolute;
        height: auto;
    left: 50%;
    top: 50%;
    }

  
  }
  
  
  @keyframes formmovedown1{
    0% {
      top: 10%;
    }
    25%{
      top:20%;
    }
    60%{
      top:30%
    }
     100% {
      top: 40%;
    }
  }
  @keyframes formmoveup{
    0% {
      top: -10px;
    }
    50%{
      top:-50px;
    }
  
     100% {
      top: -70px;
    }
  }