
<div class="grid sidebar" style="height: 300vh;">
    
    <div class="arrow-icon">
    <div  class="row " style="display: flex; justify-content: flex-end;">
        <div class="col col-2">
            <i class="fa fa-1x fa-arrow-left p-2" (click)="togglingSidebar()"></i>
        </div>
    </div>
    </div>
  

    <div class="row" >
        <div class="col col-12" style="display: flex; flex-wrap: wrap; gap:10px"  >
            <a class="link" routerLink="/admin-dashboard/busdetails">BusDetails</a>
            <i class="fa fa-bus"></i>
        </div>
        
    </div>
    <div class="row">
        <div class="col col-12"  style="display: flex; flex-wrap: wrap; gap:10px"  >
            <a class="link" routerLink="/admin-dashboard/userdetails">UserDetails</a>
            <i class="fa fa-user" aria-hidden="true"></i>
        </div>
    </div>
    <div class="row">
        <div class="col col-12"  style="display: flex; flex-wrap: wrap; gap:10px"  >
            <a class="link" routerLink="/admin-dashboard/routeDetails">RoutesDetails</a>
            <!-- <i class="fas fa-bars fa-1x"></i> -->
            <i class="fa fa-route"></i>
        </div>
    </div>
    
</div>