<div class="grid sidebar">
    <div class="col col-12"  style="display: flex; justify-content:space-evenly" >
        <a class="link" routerLink="/admin-dashboard/busdetails">BusManagement</a>
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
        
    </div>
    <div class="col col-12" style="display: flex; justify-content:space-around">
        <a class="link" routerLink="/admin-dashboard/userdetails">UserDetails</a>
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </div>
    <div class="col col-12" style="display: flex; justify-content:space-around">
        <a class="link" routerLink="/admin-dashboard/routeDetails">RouteDetails</a>
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </div>
    
    
</div>