<div class="backdrop" *ngIf="showBookingsSummary" ></div>
<div  *ngIf="showBookingsSummary"  >
  <div class="container">
      <div class="grid ">
          <div class="row header">
              Bookings Summary
          </div>
          <div class="row content ">
              <div class="col col-3 ">
            <img src="../../../assets/icons8-bus-100.png"/>
            </div>
            <div class="col col-4">
                <small style="font-size: 12px;">{{ bus.boardingPoint}}</small>
                <p style="font-weight: bold;">{{bus.departureTime}}</p>
                <span style="color:grey">{{getWeekDay(bus.departureDate)}}, 5 {{getMonth(bus.departureDate)}} 2022</span>
                <hr>
               
           </div>
           <div class="col col-4">
            <small>{{bus.destinationPoint}}</small>
            <p style="font-weight: bold;">{{bus.arrivalTime}} </p>
                <span style="color:grey">Fri, 6 May 2022</span>
                <hr>
            </div>
           <div class="col col-4 mt-4">
               <p style="color:grey">Boarding Point & Time</p>
               <span style="font-weight: bold;">Chandni Chowk : 12:25 AM</span>
               <p style="color:grey" class="mt-4">Dropping Point & Time</p>
               <span style="font-weight: bold;">Narayan Singh Circle : 05:55 AM</span>
           </div>
           <div class="col col-4 mt-4">
            <p style="color:grey">Seat Number(s)</p>
            
            <span style="font-weight: bold;" *ngFor="let seat of bookingSummary">
            {{seat}},</span>
            <br>
            <br>
           
        </div>
        <div class="col col-4 ">
        <p style="font-weight: bold; color: grey;">Fare Details:</p>
        <h5 ><span style="font-weight: bold;">TotalCost :</span>Rs{{calculateTotalPrice(bus.price)}}/-</h5>
        <div style="display: flex; ">
        <button class="btn btn-sm btn-outline-dark mx-2" (click)="bookTicket();canShowBookingsSummarys()" >BookTicket</button>
        <button class="btn btn-sm btn-outline-danger mx-2 mt-0" (click)="canShowBookingsSummarys()"> Cancel</button>
    </div>
       </div>
       </div>
      </div>
  </div>

</div>
