<div class="container">
    <p style="font-weight: bold;">Select Your Seats</p>
  <div class="header">
      <div >
          Selected:<span class="seat selected"  >A1</span>
      </div>
      <div >
        Available:<span class="seat Available"  >A1</span>
    </div>
    <div >
        Booked:<span class="seat "  >A1</span>
    </div>
    
  </div>
    <div class="seatLayout" >
        
        <div class="row">
            <div class="col col-12">
                <img src="../../../assets/steering.jpg"/>
            </div>
        </div>
    <div class="grid">
        
        
        <div class="row" >
            <div  class="col col-1 seat" disabled="true"  *ngFor="let seat of Seats;" (click)="addSeatDetails($event);toggleSelectedSeats($event)"   [ngStyle]="isSeatSelected(seat.id)?{'background-color': 'blue'}: seat.booked ? {'background-color': 'grey','pointer-events': 'none'}:{'background-color': 'green'}"  >{{seat.id}}</div>
        </div>
        <hr>
        <div class="row" >
            <div class="col-5">
                <p>You Have Selected <Strong>{{seats.length}}</Strong> seats</p>
            </div>
            <div *ngIf="seats.length>0"class="col-md-4 ">
                <button type="button" (click)="showBookingsSummary()"  style="text-align: center; float: right;" class="btn btn-outline-dark btn-sm" >Confirm Seats</button>
            </div>   
        </div>
    </div>
</div>   
</div>
<app-confirm-seats-summary [bookingSummary]="selectedSeats" [bus]="busDetails"></app-confirm-seats-summary>