*{
    padding: 0px;
    margin:0px
    }
.container-fluid{
        margin-top: 50px;
        width: 100vw;
        overflow: scroll;
    }
.sidebar{
        background-color:#00001e ;
        color: white;
        height: 100vh;
}
.sidebar div{
        padding: 20px;
     cursor: pointer;
}
table{
    width: 1000px
}

.sidebars{
    z-index: 5;
    position: absolute;
}
::-webkit-scrollbar {
    display: none;
}


@media screen and (min-width:900px) {
    .toggler{
        display: none;
    }
}